<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NSThread-线程安全（swift）.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>91718B781CC62D2900F770F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91718B8C1CC62D2900F770F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91718B971CC62D2900F770F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
